.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-around;
}

p{
  color: slategrey;
  color: #778899
  font-size: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: normal;
  margin:0 auto;
  border: 1px solid
  text-align: center;
}
  h1{
    font-family: Georgia, "Times New Roman", serif;
    font-size: 250%;
    font-weight: bold;
  }
  h2{
    color: #000000
    color: black;
    text-align: right;
  }
  body{
    background-color:#e6e6fa;
}

a:link {
    color: blue;
}
a:visited {
    color: purple;
}
a:hover {
    color: hotpink;
}

img {
    margin: 10px;
    border: 0;
    height: 300px;
    width: 300px;
    padding: 10px;
  }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: blue;
}

.navigation {
  display: flex;
  list-style: none;
  text-decoration-color: white;
  margin: 0;
  padding: 0;
  background: gray;
  display: block;
  padding: 10px;
  color: white;
  flex-flow:column;
}

.header, .main, .aside {
  flex: 1 100%;
  padding: 10px;
}

.main {
  {background-color: white;
  text-align: left;
}

.aside {
  background-color: lightgray;
}

@media (min-width: 599px) {
	.container {
		flex-direction: row;
		justify-content: center;
	}
}

@media (min-width: 799px) {

	.aside-1 {
		margin-right: auto;
	}
}
