p{
  color: lightslategrey;
  color: #778899
  font-family: Helvetica, Arial, sans-serif;
  margin:auto;
}
  h1{
    font-family: Georgia, "Times New Roman", serif;
  }
  body{
    background-color:#e6e6fa;
}
